.section-who-container{
    display: flex;
    width: 80%;
    margin: 40px auto;
    background: url("./mansuits.jpg") center no-repeat;
    background-size: cover;
    height: 500px;
}

.section-who-text{
    margin:auto;
    backdrop-filter: blur(14px);
    padding: 40px; 
    text-align: center;
    border: 1px solid white;
    width: 60%;
}

.section-who-text h2{
    font-size: 40px;
}
.section-who-text p{
    font-size: 18px;
    text-align: start;
    margin: 20px
}
.section-who-text a{
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 20px;
    display:inline-flex;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}
.section-who-text a:hover{
    color: black;
    background-color: white;
    transform: scale(1.2);
    transition: all ease 0.4s;
}
@media screen and (max-width: 1130px){
    .section-who-container{
        height: 600px;
    }
    .section-who-text{
        width: 80%;
    }
   
    
}
@media screen and (max-width: 750px){
    .section-who-text h2{
        font-size: 27px;
    }
    .section-who-text p{
        font-size: 16px;
    }
    .section-who-text a{
        font-size: 16px;
        padding: 7px 13px
    }
}

@media screen and (max-width: 550px){
    .section-who-container{
        height: 450px;
    }
    .section-who-text{
        width: 90%;
        height: 70%;
        padding: 10px
    }
    #section-who-text-delete{
        display: none
    }
}

@media screen and (max-width: 475px){
    .section-who-text h2{
        font-size: 21px;
    }
    .section-who-text p{
        font-size: 14px;
    }
}
@media screen and (max-width: 350px){
    .section-who-container{
        width: 90%;
    }
}